<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2.dll" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2.dll" os="osx" target="libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2.dll" os="linux" target="libSDL2-2.0.so.0.8.0"/>

	<dllmap dll="SDL2_image.dll" os="windows" target="SDL2_image.dll"/>
	<dllmap dll="SDL2_image.dll" os="osx" target="libSDL2_image-2.0.0.dylib"/>
	<dllmap dll="SDL2_image.dll" os="linux" target="libSDL2_image-2.0.so.0"/>

	<dllmap dll="SDL2_mixer.dll" os="windows" target="SDL2_mixer.dll"/>
	<dllmap dll="SDL2_mixer.dll" os="osx" target="libSDL2_mixer-2.0.0.dylib"/>
	<dllmap dll="SDL2_mixer.dll" os="linux" target="libSDL2_mixer-2.0.so.0"/>

	<dllmap dll="SDL2_ttf.dll" os="windows" target="SDL2_ttf.dll"/>
	<dllmap dll="SDL2_ttf.dll" os="osx" target="libSDL2_ttf-2.0.0.dylib"/>
	<dllmap dll="SDL2_ttf.dll" os="linux" target="libSDL2_ttf-2.0.so.0"/>

	<dllmap dll="openal32.dll" os="windows" target="openal32.dll"/>
	<dllmap dll="openal32.dll" os="osx" target="libopenal.1.dylib"/>
	<dllmap dll="openal32.dll" os="linux" target="libopenal.so.1"/>

	<dllmap dll="opengl32.dll" os="windows" target="opengl32.dll"/>
	<dllmap dll="opengl32.dll" os="osx" target="libGL.dylib"/>
	<dllmap dll="opengl32.dll" os="linux" target="libGL.so"/>

	<dllmap dll="ftgl.dll" os="windows" target="ftgl.dll"/>
	<dllmap dll="ftgl.dll" os="osx" target="libftgl.dylib"/>
	<dllmap dll="ftgl.dll" os="linux" target="libftgl.so"/>

	<dllmap os="!windows,osx" dll="libglib-2.0-0.dll" target="libglib-2.0.so.0"/>
	<dllmap os="!windows,osx" dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
	<dllmap os="!windows,osx" dll="libatk-1.0-0.dll" target="libatk-1.0.so.0"/>
	<dllmap os="!windows,osx" dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0"/>
	<dllmap os="!windows,osx" dll="libgdk-win32-2.0-0.dll" target="libgdk-x11-2.0.so.0"/>
	<dllmap os="!windows,osx" dll="libpango-1.0-0.dll" target="libpango-1.0.so"/>
	<dllmap os="!windows,osx" dll="libpangocairo-1.0-0.dll" target="libpangocairo-1.0.so.0"/>

	<dllmap os="osx" dll="libglib-2.0-0.dll" target="libglib-2.0.0.dylib"/>
	<dllmap os="osx" dll="libgobject-2.0-0.dll" target="libgobject-2.0.0.dylib"/>
	<dllmap os="osx" dll="libatk-1.0-0.dll" target="libatk-1.0.0.dylib"/>
	<dllmap os="osx" dll="libgtk-win32-2.0-0.dll" target="libgtk-quartz-2.0.0.dylib"/>
	<dllmap os="osx" dll="libgdk-win32-2.0-0.dll" target="libgdk-quartz-2.0.0.dylib"/>
	<dllmap os="osx" dll="libpango-1.0-0.dll" target="libpango-1.0.0.dylib"/>
	<dllmap os="osx" dll="libpangocairo-1.0-0.dll" target="libpangocairo-1.0.0.dylib"/>
</configuration>
